.container-fluid{
    color: white;
    height:100vh;
    overflow-y: hidden;
}

p{
  font-weight: bold;
  font-family: "Open Sans";
}
 #clock p{
  font-size: 50px;
}
.time{
  font-size: 50px !important;
}
.mid-section{
  margin-top:13%;
}
@media screen and (max-width: 1024px){

  .mid-section{
    margin-top:45%;
  }
}
.morning{
  background: #82B3EC;
}
.mid-day{
  background: #DFEC82;
}
.mid-day, .morning{
  color: black;
}
.evening{
  background: #EB4158;
}
.night{
  background: #2A2727;
  background: #6A6767;
}
.morning, .evening, .night{
  color: white;
}
footer{
  margin-top:14%;
}
footer p{
  font-size: 12px;
  font-weight: normal;
}
/*Link button*/
nav{
  width: 65px;
  background: #6A6767;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}


li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropbtn:hover{
  text-decoration: none;
  color: white;
}
li a:hover, .drop-menu:hover .dropbtn {
    background-color:#3d3d3d;

}

li.drop-menu {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #3d3d3d;
  color:white;
}

.drop-menu:hover .dropdown-content {
    display: block;
}
